# Share/edit links work (the app converts them to CSV). Sheets must be
# "Anyone with the link can view". Restart `npm run dev` after changing this file.
# VITE_SHEET_42=https://docs.google.com/spreadsheets/d/ID/edit?usp=sharing
# VITE_SHEET_45=
# VITE_SHEET_49=
# VITE_SHEET_55=
# VITE_SHEET_58=
